    /* @media screen and (max-width:200px) {
    .s_img-logo {
        width: 100% !important;
    }
    .s_img-logo img {
        object-position: -170px;
    }
} */
    
    @media screen and (max-width: 1000px) {
        .s_touch .s_container .left i {
            left: 76px !important;
        }
    }